<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{employee/template :: page}">
<div th:fragment="content">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" th:text="#{adjustmentwork}"></li>
	</ol>
	<form method="post" th:action="@{/employee/saveWork}"
		th:object="${adjustment}">
		<div class="card-body">
			<div class="form-group">
				<input class="form-control" th:field="*{idadjustment}"
					th:placeholder="#{idadjustment}" />
				<div class="form-group has-error">
					<label class="control-label"
						th:if="${#fields.hasErrors('idadjustment')}"
						th:errors="*{idadjustment}" /></label>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control" th:field="*{description}"
					th:placeholder="#{description}" />
				<div class="form-group has-error">
					<label class="control-label"
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></label>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control" th:field="*{amount}"
					th:placeholder="#{amount}" />
				<div class="form-group has-error">
					<label class="control-label" th:if="${#fields.hasErrors('amount')}"
						th:errors="*{amount}"></label>
				</div>
			</div>
			<div class="form-group">
				<span th:text="#{payment}"></span><select
					th:field="*{payment.idpayment}" class="form-control"><option
						th:each="payment:${payments}" th:value="${payment.idpayment}"
						th:text="${payment.name}" />
				</select>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" value="submit">
					<span th:text="#{save}"></span>
				</button>
			</div>
		</div>
	</form>
</div>
</html>