<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/templateAdmin :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{shoppings}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{searchshoppings}"></li>
	</ol>
	<form method="post" th:action="@{/resultPosibleRepeated}"
		th:object="${searchDateForm}">
		<div class="form-row">
			<div class="col-lg-12">
				<div class="panel card-default">
					<div class="card-heading">
						<span th:text="#{searchshoppings}"></span>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-lg-6">
								<div class="form-group">
									<span th:text="#{datefrom}"></span> <input class="form-control"
										id="datefrom" />
								</div>
								<div class="form-group">
									<span th:text="#{dateuntil}"></span> <input
										class="form-control" id="dateuntil" />
								</div>
								<div class="form-group">
									<span th:text="#{place}"></span> <select th:field="*{place.idplace}">
										<option th:each="place : ${places}"
											th:value="${place.idplace}" th:text="${place.description}" />
									</select>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" value="submit">
										<span th:text="#{search}"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>