<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="employee/template :: page">
<div th:fragment="content">
	<form method="post" th:action="@{/employee/saverecording}"
		th:object="${recording}" role="form">
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#"><span
					th:text="#{sales}"></span></a></li>
			<li class="breadcrumb-item active" th:text="#{othersales}"></li>
		</ol>
		<div class="card-body">
			<div class="form-row">
				<div class="col-lg-6">
					<div class="form-group">
						<span th:text="#{numberofsale}"></span> <span
							th:text="#{optional}"></span> <input class="form-control"
							id="numsale" />
					</div>
					<div class="form-group">
						<span th:text="#{payment}"></span> <select
							th:field="*{pay.idpayment}" class="form-control"><option
								th:each="payment:${payments}" th:value="${payment.idpayment}"
								th:text="${payment.name}" />
						</select>
					</div>
					<div class="form-group">
						<select th:field="*{type.idtypeofsale}" class="form-control"><option
								th:each="t:${types}" th:value="${t.idtypeofsale}"
								th:text="${t.name}" />
						</select>
					</div>
					<div class="form-group">
						<span th:text="#{amount}"></span> <input class="form-control"
							th:field="*{amount}" />
					</div>
					<div class="form-group">
						<span th:text="#{description}"></span> <input class="form-control"
							id="description" />
					</div>
					<div class="form-group">
						<div class="form-group has-error">
							<label class="control-label" for="inputSuccess"
								th:if="${#fields.hasErrors('numsale')}" th:errors="*{numsale}"></label>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" value="submit">
							<span th:text="#{save}"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>