<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/templateAdmin :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{jewels}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{searchjewels}"></li>
	</ol>
	<form method="post" th:action="@{/resultsearchbyreference}"
		th:object="${jewelForm}">
		<div class="row">
			<div class="col-lg-12">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<span th:text="#{category}"></span> <select
									th:field="*{category.idcategory}" class="form-control">
									<option th:each="category : ${categories}"
										th:value="${category.idcategory}"
										th:text="${category.namecategory}" />
								</select>
							</div>
							<div class="form-group">
								<span th:text="#{reference}"></span> <input class="form-control"
									th:field="*{reference}" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<span th:text="#{place}"></span> <select
									th:field="*{place.idplace}" class="form-control">
									<option th:each="place : ${places}" th:value="${place.idplace}"
										th:text="${place.description}" />
								</select>
							</div>
							<div class="form-group">
								<span th:text="#{material}"></span> <select
									th:field="*{metal.idmetal}" class="form-control">
									<option th:each="material : ${materials}"
										th:value="${material.idmetal}"
										th:text="${material.description}" />
								</select>
							</div>
							<div class="form-group">
								<button class="btn btn-primary" value="submit">
									<span th:text="#{search}"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>