<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
	<import resource="classpath*:spring-db-context.xml" />
	<import resource="classpath*:beansvalidators.xml" />
	<bean id="mapper" class="org.dozer.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
				<value>mapping-dozer.xml</value>
			</list>
		</property>
	</bean>
	<bean id="pbkdf2Encoder"
		class="org.springframework.security.crypto.password.Pbkdf2PasswordEncoder" />
	<bean id="searchCategoriesService"
		class="com.je.services.categories.CategoriesServiceImpl" />
	<bean id="jewelService"
		class="com.je.services.jewels.JewelServiceImpl" />
	<bean id="searchService"
		class="com.je.services.search.SearchServiceImpl" />
	<bean id="searchClientsService"
		class="com.je.services.clients.ClientServiceImpl" />
	<bean id="registrationService"
		class="com.je.services.users.RegistrationServiceImpl" />
	<bean id="paymentService"
		class="com.je.services.payment.PaymentServiceImpl" />
	<bean id="saleService"
		class="com.je.services.sales.SaleServiceImpl" />
	<bean id="pawnService"
		class="com.je.services.pawns.PawnServiceImpl" />
	<bean id="placeService"
		class="com.je.services.places.PlaceServiceImpl" />
	<bean id="materialService"
		class="com.je.services.metal.MetalServiceImpl" />
	<bean id="setService" class="com.je.services.sets.SetServiceImpl" />
	<bean id="coinService"
		class="com.je.services.coins.CoinServiceImpl" />
	<bean id="adjustmentService"
		class="com.je.services.adjustments.AdjustmentServiceImpl" />
	<bean id="othersConceptsService"
		class="com.je.services.otherconcepts.OtherConceptServiceImpl" />
	<bean id="shoppingService"
		class="com.je.services.shoppings.ShoppingServiceImpl" />
	<bean id="dailyService"
		class="com.je.services.dailies.DailyServiceImpl" />
	<bean id="workshopService"
		class="com.je.services.workshop.WorkshopServiceImpl" />
	<bean id="holidayService"
		class="com.je.services.holidays.HolidayServiceImpl" />
	<bean id="billingService"
		class="com.je.services.workshop.BillingServiceImpl" />
	<bean id="payrollService"
		class="com.je.services.payroll.PayrollServiceImpl" />
	<bean id="entryMoneyService"
		class="com.je.services.entrymoney.EntryMoneyServiceImpl" />
	<bean id="rentalService"
		class="com.je.services.rentals.RentalServiceImpl" />
	<bean id="userService"
		class="com.je.services.users.UserServiceImpl" />
	<bean id="incidentService"
		class="com.je.services.incidents.IncidentServiceImpl" />
	<bean id="searchMissingNumbers"
		class="com.je.services.searchmissingnumbers.SearchMissingNumberServiceImpl" />
	<bean id="recordingService"
		class="com.je.services.othersale.OtherSaleServiceImpl" />
	<bean id="discountService"
		class="com.je.services.discounts.DiscountServiceImpl" />
	<bean id="nationservice"
		class="com.je.services.nations.NationServiceImpl" />
	<bean id="trackservice"
		class="com.je.services.tracks.TrackServiceImpl" />
	<bean id="salesCardService"
		class="com.je.services.salescard.SalesCardServiceImpl" />
	<bean id="saleservicepostponed"
		class="com.je.services.sales.SalesPostPonedServiceImpl" />
	<bean id="messageservice"
		class="com.je.services.messages.MessageServiceImpl" />
	<bean id="connectionService"
		class="com.je.services.connections.ConnectionServiceImpl" />
	<bean id="registerService"
		class="com.je.services.registers.RegisterServiceImpl" />
	<bean id="searchSaleRepeatedService"
		class="com.je.services.salesrepeated.SearchSaleRepeatedServiceImpl" />
</beans>