<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{admin/templateAdmin :: page}">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{sales}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{resultsearch}"></li>
	</ol>
	<div class="row">
		<div class="col-lg-12">
			<div class="card-body">
				<span th:text="#{numsale}"></span>
				<th:block th:text="${numsale}" />
			</div>
		</div>
	</div>
</div>
</html>