<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="admin/templateAdmin :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{salespostponed}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{searchsalepostponed}"></li>
	</ol>
	<form method="post" th:action="@{/showsale}"
		th:object="${salepostponed}">
		<div class="form-row">
			<div class="col-lg-6">
				<div class="card-body">
					<div class="form-group">
						<input class="form-control" th:field="*{idsale}"
							th:placeholder="#{numberofsale}" />
						<p class="text-danger" th:if="${#fields.hasErrors('idsale')}"
							th:errors="*{idsale}"></p>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" value="submit">
							<span th:text="#{search}"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>