<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{employee/template :: page}">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{salespostponed}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{newsale}"></li>
		<li class="breadcrumb-item active" th:text="#{savedsale}"></li>
	</ol>
	<div class="form-row">
		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-white bg-primary o-hidden">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-shopping-cart fa-fw"></i>
					</div>
					<div class="mr-5">
						<span th:text="${saleForm.idsale}"></span> <span
							th:text="#{numsale}"></span>
					</div>
				</div>
				<a class="card-footer clearfix small z-1"
					th:href="@{newsalepostponed}"> <span class="float-left"
					th:text="#{newsalepostponed}"></span> <span class="float-right"><i
						class="nav-link-text"></i></span></a>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-white bg-success o-hidden">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-euro-sign fa-fw"></i>
					</div>
					<div class="mr-5">
						<span th:text="${saleForm.total}"></span> <span
							th:text="#{totalamount}"></span>
					</div>
				</div>
				<a class="card-footer clearfix small z-1" th:href="@{daily}"> <span
					class="float-left" th:text="#{daily}"></span> <span
					class="float-right"><i class="nav-link-text"></i></span>
				</a>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-3"
			th:if="${saleForm.dateretired==null}">
			<div class="card text-white bg-warning o-hidden">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-gift"></i>
					</div>
					<div class="mr-5">
						<span th:text="#{timedout}"></span> <span
							th:text="${saleForm.timeout}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
	<div class="form-row">
		<div class="card mb-3">
			<div class="card-header">
				<span th:text="#{jewelrysold}"></span>
			</div>
			<!-- /.card-heading -->
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{reference}"></th>
								<th th:text="#{name}"></th>
								<th th:text="#{description}"></th>
								<th th:text="#{price}"></th>
								<th th:text="#{category}"></th>
								<th th:text="#{material}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="jewel:${saleForm.jewels}">
								<td th:text="${jewel.reference}"></td>
								<td th:text="${jewel.name}"></td>
								<td th:text="${jewel.description}"></td>
								<td th:text="${jewel.price}"><i class="fas fa-euro-sign"></i>
								</td>
								<td th:text="${jewel.category.namecategory}"></td>
								<td th:text="${jewel.metal.description}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
	<div class="form-row">
		<div class="card mb-3">
			<div class="card-header">
				<span th:text="#{installments}"></span>
			</div>
			<!-- /.card-heading -->
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{date}"></th>
								<th th:text="#{amount}"></th>
								<th th:text="#{payment}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="jewel:${saleForm.spayments}">
								<td th:text="${#dates.format(jewel.creationdate,'yyyy-MM-dd')}"></td>
								<td th:text="${jewel.amount}"><i class="fas fa-euro-sign"></i>
								</td>
								<td th:text="${jewel.pay.name}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</html>