<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{employee/template :: page}">
<div th:fragment="content">
	<form method="post" th:action="@{/employee/searchreturnpawn}"
		th:object="${pawnForm}">
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#"><span
					th:text="#{returnpawn}"></span></a></li>
			<li class="breadcrumb-item active" th:text="#{searchclient}"></li>
		</ol>
		<div class="card-body">
			<div class="form-row">
				<div class="col-lg-6">
					<div class="form-group">
						<span th:text="#{nif}"></span> <input class="form-control"
							th:field="*{nif}" />
						<div class="form-group has-error">
							<label class="control-label" for="inputSuccess"
								th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></label>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" value="submit">
							<span th:text="#{search}"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>