<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="admin/templateAdmin :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{shoppings}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{resultsearch}"></li>
	</ol>
	<div class="row">
		<div class="col-lg-6">
			<div class="card-body" th:if="${not #lists.isEmpty(shoppings)}">
				<form method="post" th:action="@{/updateShoppings}"
					th:object="${shoppingForm}">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover"
							id="dataTables-example">
							<thead>
								<tr>
									<th></th>
									<th th:text="#{numshop}"></th>
									<th th:text="#{totalamount}"></th>
									<th th:text="#{date}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="shopping:${shoppings}">
									<td><input type="radio" th:field="*{id}"
										th:value="${shopping.id}"></td>
									<td th:text="${shopping.numshop}"></td>
									<td th:text="${shopping.amount}"></td>
									<td th:text="${shopping.creationdate}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<button class="btn btn-primary" value="submit">
						<span th:text="#{update}"></span>
					</button>
				</form>
				<div th:if="${#lists.isEmpty(shoppings)}">
					<span th:text="#{noresults}"></span>
				</div>
			</div>
		</div>
	</div>
</div>
</html>