<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="admin/templateAdmin :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{shoppings}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{updateshopping}"></li>
	</ol>
	<form method="post" th:action="@{/saveShopping}"
		th:object="${shoppingForm}" role="form">
		<input type="hidden" th:field="*{id}" th:value="${shoppingForm.id}" />
		<div class="form-row">
			<div class="col-lg-12">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td><input class="form-control" th:field="*{numshop}"
										disabled></td>
									<td class="form-group has-error"
										th:if="${#fields.hasErrors('numshop')}" th:errors="*{numshop}"></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr th:each="os:${shoppingForm.objects}">
									<td><input type="hidden"
										th:field="*{objects[__${osStat.index}__].idobjectshop}" /><select
										class="form-control"
										th:field="*{objects[__${osStat.index}__].metal.idmetal}">
											<option th:value="${os.metal.idmetal}"
												th:text="${os.metal.description}" />
											<option th:each="material:${materials}"
												th:value="${material.idmetal}"
												th:text="${material.description}" />
									</select></td>
									<td><input class="form-control"
										th:field="*{objects[__${osStat.index}__].grossgrams}"></td>
									<td><input class="form-control"
										th:field="*{objects[__${osStat.index}__].netgrams}"></td>
									<td><input class="form-control"
										th:field="*{objects[__${osStat.index}__].realgrams}"
										th:placeholder="#{realgrams}"></td>
									<td><input class="form-control"
										th:field="*{objects[__${osStat.index}__].amount}"></td>
								</tr>
								<tr class="d-none" id="addrowobjectmetal">
									<td><select class="form-control"
										th:field="*{moreobject.metal.idmetal}">
											<option th:each="material:${materials}"
												th:value="${material.idmetal}"
												th:text="${material.description}" />
									</select></td>
									<td><input class="form-control"
										th:field="*{moreobject.grossgrams}"></td>
									<td><input class="form-control"
										th:field="*{moreobject.netgrams}"></td>
									<td><input class="form-control"
										th:field="*{moreobject.realgrams}"
										th:placeholder="#{realgrams}"></td>
									<td><input class="form-control"
										th:field="*{moreobject.amount}"></td>
								</tr>
								<tr>
									<td></td>
									<td class="form-group has-error"
										th:if="${#fields.hasErrors('amount')}" th:erros="*{amount}"></td>
									<td><input class="form-control" disabled
										th:field="*{amount}"></td>
									<td><button class="btn btn-primary" value="submit">
											<span th:text="#{save}"></span>
										</button></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
	<button class="btn btn-success" id="addmetal">
		<span th:text="#{addmetal}"></span>
	</button>
</div>
</html>