<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{admin/templateAdmin :: page}">
<div th:fragment="content">
	<form method="post" th:action="@{/addcoin}" th:object="${coinForm}">
		<div class="form-row">
			<div class="col-lg-8">
				<div class="panel card-default">
					<div class="card-heading">
						<span th:text="#{newcoin}"></span>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-lg-4">
								<div class="form-group">
									<span th:text="#{description}"></span> <input
										class="form-control" id="description" />
								</div>
								<div class="form-group">
									<span th:text="#{place}"></span> <select
										th:field="*{place.idplace}">
										<option th:each="place : ${places}"
											th:value="${place.idplace}" th:text="${place.description}" />
									</select>
								</div>
								<div class="form-group">
									<span th:text="#{price}"></span> <input class="form-control"
										id="price" />
								</div>
								<div class="form-group">
									<button class="btn btn-primary" value="submit">
										<span th:text="#{save}"></span>
									</button>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<span th:text="#{material}"></span> <select
										class="form-control" th:field="*{metal.idmetal}">
										<option th:each="metal:${materials}"
											th:value="${metal.idmetal}" th:text="${metal.description}" />
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>