<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="employee/template :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{pawns}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{renovations}"></li>
	</ol>
	<div class="row">
		<div class="col-lg-12">
			<div class="card-body" th:if="${not #lists.isEmpty(renovations)}">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{daterenew}"></th>
								<th th:text="#{daterenovation}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="renovation:${renovations}">
								<td
									th:text="${#dates.format(renovation.nextrenovationdate,'yyyy-MM-dd')}"></td>
								<td
									th:text="${#dates.format(renovation.creationdate,'yyyy-MM-dd')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span th:text="${#lists.size(renovations)}"></span>
		</div>
		<div th:if="${#lists.isEmpty(renovations)}">
			<span th:text="#{noresults}"></span>
		</div>
	</div>
</div>
</html>