<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="workshop/templateWorkshop:: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" th:text="#{newadjustment}"></li>
	</ol>
	<form method="post" th:action="@{/workshop/saveAdjustment}"
		th:object="${adjustment}">
		<div class="card-body">
			<div class="form-group">
				<input class="form-control" th:field="*{idadjustment}"
					th:placeholder="#{idadjustment}" /> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('idadjustment')}"
					th:errors="idadjustment"></small>
			</div>
			<div class="form-group">
				<input class="form-control" th:field="*{description}"
					th:placeholder="#{description}" /> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('description')}" th:errors="description"></small>
			</div>
			<div class="form-group">
				<input class="form-control" th:field="*{grams}"
					th:placeholder="#{gramsused}" /> <small
					class="form-text text-danger" th:if="${#fields.hasErrors('grams')}"
					th:errors="grams"></small>
			</div>
			<div class="form-group">
				<input class="form-control" th:field="*{amountwork}"
					th:placeholder="#{amountwork}" /> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('amountwork')}" th:errors="amountwork"></small>
			</div>
			<div class="form-group">
				<input class="form-control" th:field="*{recommendedprice}"
					th:placeholder="#{recommendedprice}" /> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('recommendedprice')}"
					th:errors="recommendedprice"></small>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" value="submit">
					<span th:text="#{save}"></span>
				</button>
			</div>
		</div>
	</form>
</div>
</html>