<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="workshop/templateWorkshop:: page">
<head th:replace="templateLogin"></head>
 
	<div class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">
				<span th:text="#{login}"></span>
			</div>
			<div class="card-body">
				<form role="form" name='f' th:action="@{/jspringsecuritycheckws}"
					method="post">
					<div class="form-group">
						<label for="exampleInputEmail1"><span th:text="#{user}"></span></label><input
							id="exampleInputEmail1" th:placeholder="#{enteruser}"
							class="form-control" type='text' name='username' value=''
							autofocus>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1"><span
							th:text="#{password}"></span></label><input class="form-control"
							id="exampleInputPassword1" type="password"
							th:placeholder="#{enterpassword}" name='password' />
					</div>
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" /> <input
						class="btn btn-primary btn-block" name="submit" type="submit" />
				</form>
				<div class="text-center">
					<span th:text="#{accessdenied}"></span>
				</div>
			</div>
		</div>
	</div>
 
</html>