<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="employee/template :: page">
<div th:fragment="content">
	<form method="post" th:action="@{/employee/saveConcept}"
		th:object="${otherconcept}">
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#"><span
					th:text="#{othersconcepts}"></span></a></li>
			<li class="breadcrumb-item active" th:text="#{othersconcepts}"></li>
		</ol>
		<div class="card-body">
			<div class="form-group">
				<input class="form-control" th:field="*{description}"
					th:placeholder="#{description}" />
				<p class="text-danger" th:if="${#fields.hasErrors('description')}"
					th:errors="description"></p>
			</div>
			<div class="form-group">
				<input class="form-control" th:field="*{amount}"
					th:placeholder="#{amountotherconcept}" />
				<p class="text-danger" th:if="${#fields.hasErrors('amount')}"
					th:erros="*{amount}"></p>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" value="submit">
					<span th:text="#{save}"></span>
				</button>
			</div>
		</div>
	</form>
</div>
</html>