<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/templateAdmin :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{payments}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{resultsearch}"></li>
	</ol>
	<form method="post" th:action="@{/savePayment}" th:object="${payment}">
		<div class="form-group">
			<span th:text="#{name}"></span> <input class="form-control" th:field="*{name" />
		</div>
		<div class="form-group">
			<span th:text="#{active}"></span> <input type="checkbox"
				th:field="*{active}" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary" value="submit">
				<span th:text="#{save}"></span>
			</button>
		</div>
	</form>
</div>
</html>