<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Custom CSS -->
<link th:href="@{/css/admin/sb-admin-2.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/admin/favicon.png}"
	type="image/png">
<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/comun/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/js/comun/jquery.easing.min.js}"></script>
<title th:text="#{goldburgos}"></title>
</head>
</html>