<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{admin/templateAdmin :: page}">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{jewels}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{searchjewels}"></li>
	</ol>
	<form method="post" th:action="@{/printjewels}"
		th:object="${searchDateForm}" autocomplete="off">
		<div class="form-row">
			<div class="col-lg-4">
				<div class="card-body">
					<div class="form-group">
						<span th:text="#{place}"></span><select
							th:field="*{place.idplace}" class="form-control">
							<option th:each="place : ${places}" th:value="${place.idplace}"
								th:text="${place.description}" />
						</select>
					</div>
					<div class="form-group">
						<div id="sandbox-container">
							<div class="input-daterange input-group" id="datepicker">
								<input type="text" class="input-sm form-control"
									th:field="*{datefrom}" th:placeholder="#{datefrom}"
									name="start" /><input type="text"
									class="input-sm form-control" th:field="*{dateuntil}"
									th:placeholder="#{dateuntil}" name="end" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" value="submit">
							<span th:text="#{search}"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>