<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="~{admin/templateAdmin :: page}">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{holidays}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{searchholidays}"></li>
	</ol>
	<form method="post" th:action="@{/resultHolidays}"
		th:object="${holiday}" autocomplete="off">
		<div class="form-row">
			<div class="col-lg-8">
				<div class="card-body">
					<div class="form-row">
						<div class="col-lg-4">
							<div class="form-group">
								<div id="sandbox-container">
									<input class="form-control" th:field="*{dateholiday}"
										th:placeholder="#{datefrom}" />
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary" value="submit">
									<span th:text="#{search}"></span>
								</button>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<div id="sandbox-container">
									<input class="form-control" th:field="*{untildate}"
										th:placeholder="#{dateuntil}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>