<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom Fonts -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link th:href="@{/resources/styles/admin/dataTables.bootstrap4.css}"
	rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/resources/styles/admin/sb-admin-2.css}" rel="stylesheet">
<link th:href="@{/resources/styles/admin/bootstrap-datepicker.min.css}"
	rel="stylesheet">
<link rel="shortcut icon" href="/resources/img/favicon.png"
	type="image/png">
<title th:text="#{goldburgos}"></title>
<script>
	function formSubmit() {
		document.getElementById("logoutForm").submit();
	}
</script>
<script type="text/javascript" th:th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/jquery.easing.min.js}"></script>
<script th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/resources/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/resources/js/sb-admin-2.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-datepicker.es.min.js}"></script>
<script>
	$(function() {
		$("#sandbox-container .input-daterange").datepicker({
			language : "es",
			autoclose : true,
			todayHighlight : true
		});
	});
</script>
</head>
</html>