<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Custom CSS -->
<link th:href="@{/resources/styles/admin/sb-admin-2.css}"
	rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/resources/js/jquery.easing.min.js}"></script>
<title th:text="#{goldburgos}"></title>
</head>
<body class="bg-gradient-primary">
	<div class="container">
		<!-- Outer Row -->
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4" th:text="#{login}"></h1>
									</div>
									<form role="form" name='f' th:action="@{/login}" method="post">
										<div class="form-group">
											<label for="exampleInputEmail1"><span
												th:text="#{user}"></span></label><input id="exampleInputEmail1"
												th:placeholder="#{enteruser}" class="form-control"
												type='text' name='username' value='' autofocus>
										</div>
										<div class="form-group">
											<label for="exampleInputPassword1" th:text="#{password}"></label><input
												class="form-control" id="exampleInputPassword1"
												type="password" th:placeholder="#{enterpassword}"
												name='password' />
										</div>
										<input type="hidden" name="${_csrf.parameterName}"
											value="${_csrf.token}" /> <input
											class="btn btn-primary btn-block" name="submit" type="submit" />
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>