<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:insert="employee/template :: page">
<div th:fragment="content">
	<form method="post" th:action="@{/employee/cancelparcialsale}" th:object="${saleForm}"
		role="form">
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#"><span
					th:text="#{sales}"></span></a></li>
			<li class="breadcrumb-item active" th:text="#{removeparcialsale}"></li>
		</ol>
		<div class="form-row">
			<div class="col-lg-6">
				<div class="card-body">
					<div class="form-group">
						<input class="form-control" th:field="*{numsale}"
							th:placeholder="#{numberofsale}" />
						<div class="form-group has-error">
							<label class="control-label" for="inputSuccess"
								th:if="${#fields.hasErrors('numsale')}" th:errors="*{numsale}"></label>
						</div>
						<div class="form-group">
							<button class="btn btn-primary" value="submit">
								<span th:text="#{search}"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</html>