<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="admin/templateAdmin :: page">
<div th:fragment="content">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#"><span
				th:text="#{jewels}"></span></a></li>
		<li class="breadcrumb-item active" th:text="#{savedjewel}"></li>
	</ol>
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								<span th:text="${jewel.category.namecategory}"></span>
							</div>
						</div>
						<div class="col-auto">
							<i class="far fa-gem fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-success text-uppercase mb-1">
								<span th:text="${jewel.price}"></span>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-euro-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-info text-uppercase mb-1">
								<span th:text="#{name}"></span> <span th:text="${jewel.name}"></span>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								<span th:text="${jewel.place.description}"></span> <span
									th:text="${jewel.reference}"></span>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
				<!--<spring:url value="/image/" var="urlimg" />
	<img
		th:src="<span th:text="${urlimg}"/><span th:text="${jewel.reference}" />" />-->
			</div>

		</div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="form-group">
			<a class="btn btn-primary" href="newJewel"> <span
				class="float-left" th:text="#{newjewel}"></span> <span
				class="float-right"> <i class="nav-link-text"></i>
			</span>
			</a> <a class="btn btn-success" href="searchUpdateJewels"> <span
				class="float-left" th:text="#{updatejewels}"></span> <span
				class="float-right"> <i class="nav-link-text"></i>
			</span>
			</a>
		</div>
	</div>
</div>
</html>